<ion-view view-title="About Us">
	<ion-content>
		<div class="list card about-card">
			<div class="item item-body">
				<div class="about-img">
					<img class="full-image" src="../img/logo_icon.svg">
				</div>
				<p>
					Hopkins Tax & Accounting is a client focused, mobile tax and accounting firm. We specialize in complex tax matters, tax preparation, tax planning, financial goal setting and resolving tax issues.
				</p>
				<p>
					It is our goal to build meaningful business relationships with each of our clients, in order to serve them better.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>