<ion-view view-title="Gaurantee">
	<ion-content>
		<div class="list card about-card">
			<div class="item item-body">
				<div class="about-img">
					<img class="full-image" src="../img/gaurantee.svg">
				</div>
				<p>
					We want to help you. After our first consultation, we will be able to understand a clear picture of your situation, then we can find the most appropriate method to resolving your tax situation.
				</p>
				<p>
					We have 3 tax packages to choose from, and al a carte items also. You will be able to get a full package and a guarantee of the maximum refund or your money back. Please contact us and set up a phone consultation. Guarantee means pride in what we do.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>