<ion-view view-title="Returning Client Checklist">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/checkmark-circle.svg">
				<h2>Client Engagement Letter</h2>
				<p>Step 1</p>
			</div>
			<div class="item item-body img-align">
				<img class="full-image card-img" src="img/client-letter.svg">
				<p class="card-copy">
					Thank you for selecting HOPKINS & ASSOCIATES, LLC to assist you with your tax affairs. This letter confirms the terms of our engagement with you and the nature and extent of services we will provide.
				</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-ios-arrow-thin-right"></i>
				View Print and Sign Letter
			</a>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/checkmark-circle.svg">
				<h2>Upload Documents</h2>
				<p>Step 2</p>
			</div>
			<div class="item item-body img-align">
				<img class="full-image card-img" src="img/upload.svg">
				<p class="card-copy">
					Prepare for our meeting by gathering all documents pertaining income. Using our mobile app you can take a picture of these documents to SmartVault and expedite the your return process.
				</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-ios-arrow-thin-right"></i>
				Upload Documents Now
			</a>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/checkmark-circle.svg">
				<h2>Schedule Appointment</h2>
				<p>Step 3</p>
			</div>
			<div class="item item-body img-align">
				<img class="full-image card-img" src="img/calendar.svg">
				<p class="card-copy">
					Review the openings we have available, to schedule a time that works best for you. You will get a notification by text message and email confirming your appointment so you have peace of mind when it’s time to file.
				</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-ios-arrow-thin-right"></i>
				Schedule Your Appointment Now
			</a>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/checkmark-circle.svg">
				<h2>Congrats!</h2>
				<p>Step 4</p>
			</div>
			<div class="item item-body img-align">
				<img class="full-image card-img" src="img/Medal.svg">
				<p class="card-copy">
					Congratulations! You’re all set we look forward to meeting with you and providing the best personal tax preparation service possible. If you have any questions, please contact us.
				</p>
			</div>
			<a class="item item-icon-left assertive" href="#/app/contact">
				<i class="icon ion-ios-arrow-thin-right"></i>
				Contact Us
			</a>
		</div>
	</ion-content>
</ion-view>