<ion-view view-title="Testimonials">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				"Charles, I can’t thank you enough for your love of numbers and finances. I appreciate your work, and how you always want to help make sure I’m getting everything that I financially deserve."<br><br>
				- <span class="author-quote">April Kayganich</span>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				"Very helpful. Prompt, bright, and useful. I enjoyed speaking with Mr. Hopkins. Consummate professional."<br><br>
				- <span class="author-quote">Dr. Randy Bock, MD</span>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				"Charles was very patient with me and answered all of my basic tax questions. He also went above and beyond to do some research for me on some more obscure topics regarding my specific tax situation."<br><br>
				- <span class="author-quote">Venkat Dinavahi, Founder of Coderly</span>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				"Charles is the absolute best tax accountant I have ever met. Before I met Charles I had a professional accountant preparing my Taxes in Dallas who had been doing it for 30 years. I never got the results from him I get with Charles. If you need your taxes prepared in a professional and detailed manner by someone who cares about what he does. You need him!"<br><br>
				- <span class="author-quote">Chad Divine</span>
			</div>
		</div>	
		<div class="card">
			<div class="item item-text-wrap">
				"If you need a good and honest tax preparer please check Hopkins Tax &amp; Accounting out! Charles Hopkins has been doing my taxes since forever!"<br><br>
				- <span class="author-quote">Uduak Chiobi, PharmD</span>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				"I have known Charles for years and cannot imagine a more trustworthy, intelligent, and compassionate tax guy out there."<br><br>
				- <span class="author-quote">Phaidra Lynn Harper</span>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				"I do a lot of freelance work and before going with Charles, I was missing out on so many tax breaks and helpful info. Charles not only helped me find those breaks but also educated me on other great tips financially."<br><br>
				- <span class="author-quote">Chris Fisher, Designer/Developer</span>
			</div>
		</div>
	</ion-content>
</ion-view>
